<!DOCTYPE html>
<html ng-app="myapp" lang="en">
<head>

  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller='myController' ng-cloak >

  <div class="converter-container">
      <div class="title">Currency Converter</div>
      
      <form ng-model="convert" class="first-form">

    
        
        <select 
          ng-model="chosenCurrency"
          ng-change="getSelectedcurrency()"
          ng-options="currencycode for currencycode in currencies"
          class="select-one">
          
          <option value="" disabled selected>Please select a currency</option>
        </select>

        <input ng-model="money" type="text" class="amount" name="firstamount" placeholder="Please enter an amount">
      
      </form>

      <form class="second-form">
          
              
                  <select 
                   ng-model="chosenCurrency2"
                   ng-change="getSelectedcurrency2()"
                   ng-options="currencycode for currencycode in currencies2"
                   class="select-two">
                   <option value="" disabled selected>Please select a currency</option>
                   
                  </select>
          
                  <div class="amount">{{data}}</div>
                
                  <input type="submit" class="submit  animated infinite tada" value="Submit" ng-click="submitForm(money)">
                </form>
  </div> 


</body>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script src="scripts/main.js"></script>
</html>
