<!DOCTYPE html>
<html ng-app="myapp" lang="en">
<head>

  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller='myController' >

  <div class="converter-container">
      <div class="title">Currency Converter</div>
      
      <form ng-model="convert" class="first-form">

    
        <label class="first-currency"  for="country">{{chosenCurrency}}</label>
        
        <select 
          ng-model="chosenCurrency"
          ng-change="getSelectedcurrency()"
]         ng-options="currencycode for currencycode in currencies">
        
        </select>

        <!-- <label for="amount"></label> -->
        <input ng-model="money" type="text" class="amount" name="firstamount" placeholder="Please enter an amount">
      
        <!-- <input type="submit" value="Submit"> -->
      </form>

      <form class="second-form">
          
              
                  <label class="second-currency"  for="country">EUR Euro</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>
          
                  <!-- <label for="amount"></label> -->
                  <input  type="text" class="amount" name="firstamount" placeholder="{{data}}">
                
                  <input type="submit" value="Submit" ng-click="submitForm(money)">
                </form>
  </div> 


</body>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js"></script> -->
   <script src="scripts/main.js"></script>
</html>
